header {
    width: 100%;
    padding: 10px;
    background-color: white;

    section {
        width: 100%;
        margin: 0 auto;

        .navBar {
            i {
                font-size: 24px;
            }
        }

        .header {

            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header__logo {
                width: 180px;
            }

            .header__input {
                position: relative;

                input {
                    width: 580px;
                    height: 40px;
                    color: #999999;
                    border-radius: 5px;
                    border: 1px solid #e5e5e5;


                    &[type="text"] {
                        padding: 6px 12px;
                        font-size: 16px;
                    }
                }

                p {
                    position: absolute;
                    top: 16%;
                    right: 3%;

                    .fa-search {
                        font-size: 28px;
                        cursor: pointer;
                    }

                    &:hover {
                        color: #d8351a;
                    }
                }
            }



            .header__footer {
                display: flex;
                align-items: center;

                .header__phone {
                    display: flex;
                    align-items: center;

                    .fa-phone-volume {
                        font-size: 30px;
                        padding-right: 5px;
                    }

                    p {
                        margin-bottom: 0;
                        color: black;
                        font-size: 14px;
                        display: inline-block;
                        line-height: 1.3;
                        text-align: left;

                        span {
                            color: #e00;
                            font-size: 15px;
                            font-weight: 700;
                            display: inline-block;
                            line-height: 1.3;
                            text-align: left;
                        }
                    }
                }
            }

            .header__taiKhoan {
                margin-left: 15px;

                p {
                    margin-bottom: 0;
                    position: relative;
                    cursor: pointer;

                    i {
                        padding-right: 5px;
                        font-size: 24px;
                    }

                    &:hover .taiKhoan {
                        display: flex;
                    }

                    .taiKhoan {
                        z-index: 10;
                        top: 100%;
                        width: 200px;
                        left: -50%;
                        position: absolute;
                        background-color: white;
                        list-style: none;
                        padding: 7px;
                        display: none;
                        flex-direction: column;
                        gap: 7px;
                        border-radius: 5px;
                        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);

                        li {
                            text-align: center;
                            color: white;
                            border-radius: 5px;
                            padding: 5px 15px;
                            background-color: #ffa400;
                            transition: all 0.3s;

                            .dangNhap {
                                color: white;
                                text-decoration: none;
                            }

                            .dangKy {
                                color: white;
                                text-decoration: none;

                            }

                            &:hover {
                                background-color: #d8351a;
                            }
                        }
                    }
                }
            }

            .header__gioHang {
                position: relative;
                padding: 10px 0;
                margin-left: 15px;
                cursor: pointer;

                p {
                    margin-bottom: 0;

                    i {
                        padding-right: 5px;
                        font-size: 24px;
                    }
                }

                div {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #ffa400;
                    border-radius: 50%;

                    span {
                        padding: 5px;
                    }
                }
            }
        }


    }

    .headerDisplay {
        display: none;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.411);
        z-index: 99;
        height: 100vh;
    }

    .headerGioHang {
        position: fixed;
        top: 0;
        right: 0;
        width: 25%;
        height: 100vh;
        z-index: 100;
        background-color: white;
        padding: 15px;
        transform: translateX(100%);
        // transition: transform 0.5s;

        .headerGioHang_head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            p {
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 0;
                font-weight: 600;
            }

            i {
                cursor: pointer;
            }
        }

        .headerGioHang_footer {
            .giaTien {
                display: flex;
                justify-content: space-between;

                p {}

                .so {}
            }

            .thanhToan {
                button {
                    font-size: 18px;
                    font-weight: 400;
                    padding: 8px;
                    color: white;
                    text-align: center;
                    background-color: #d8351a;
                    border: none;
                    border-radius: 5px;
                    width: 100%;
                    transition: all .3s;

                    &:hover {
                        background-color: #aa2a15;
                    }
                }
            }
        }
    }

    .headerNavBar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: white;
        width: 35%;
        height: 100vh;
        overflow-y: scroll;

        .NavBar-Login {
            background-color: #d8351a;
            padding: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .iconUser {
                margin-bottom: 0;
                margin-right: 30px;
                padding: 10px 15px;
                border-radius: 10px;
                background-color: white;
                color: black;

                i {
                    font-size: 20px;
                }
            }

            .iconText {
                width: 80%;
                display: flex;
                align-items: center;

                p {
                    text-align: center;
                    width: 50%;
                    margin: 0;
                }
            }

            .login {
                color: white;
                text-decoration: none;


            }
        }

        .NavBar-Menu {


            padding: 5px;

            ul {
                margin-bottom: 0px;

                hr {
                    margin: 5px 0;
                }

                .menu-content {
                    &:hover {
                        color: #d8351a
                    }

                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #e5e5e5;

                        p {
                            line-height: 2;
                            font-size: 17px;
                            font-weight: 500;
                            margin-bottom: 0px;


                        }
                    }

                    .menu-con {
                        margin-left: 10px;
                        display: none;


                        li {
                            list-style: none;


                            a {
                                text-decoration: none;
                                color: black;

                                &:hover {
                                    color: #d8351a
                                }

                                p {
                                    line-height: 2;
                                    font-size: 15px;
                                    font-weight: 400;
                                }
                            }
                        }

                        .menu-chau {
                            display: none;
                            margin-left: 10px;

                            li {
                                a {
                                    line-height: 2;
                                }
                            }
                        }
                    }
                }
            }


        }
    }

    .headerNavBar::-webkit-scrollbar {
        overflow: hidden;
        width: 1px;
    }
}