main {
    width: 100%;
    margin: 0 auto;

    .back-to-top {
        cursor: pointer;

        .fa-angle-up {
            padding: 8px 10px;
            border-radius: 5px;
            background-color: rgb(48, 48, 48);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.877);
            color: white;
            position: fixed;
            right: 3%;
            bottom: 8%;
            transform: translateY(-2000%);
            opacity: 0;
            transition: transform ease-in-out 1s;
        }

        .active {
            transform: translateY(0%);
            opacity: 1;
            z-index: 50;
        }
    }


}