.macbookBanner {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    margin-bottom: 20px;

    .macbookBanner__content {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 20px;

        .content-item {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
            height: 100%;

            img {
                cursor: pointer;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.macbook {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;

    .macbook__content {
        width: 100%;
        // height: 740px;
        background-color: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
        border-radius: 5px;

        .macbook__content-tieuDe {

            div {
                border-bottom: 2px solid #ee0000;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .macbook--tieuDe {
                    width: 60%;
                    height: 100%;
                    text-decoration: none;
                    font-size: 22px;

                    p {
                        position: relative;
                        text-align: center;
                        width: 31%;
                        background-color: #ee0000;
                        color: white;
                        font-weight: 500;
                        text-transform: uppercase;
                        z-index: 1;
                        margin-bottom: 0;

                        &::after {
                            z-index: -1;
                            position: absolute;
                            content: '';
                            top: 0;
                            bottom: 0;
                            left: 23px;
                            right: -23px;
                            background-color: inherit;
                            transform: skew(23deg);
                        }
                    }
                }

                .macbook--navLink {
                    font-size: 16px;
                    color: black;
                    text-decoration: none;
                    transition: all 0.3s;

                    &:hover {
                        color: #ffab41;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }

                .active {
                    transition: all 0.3s;
                    color: #ffab41;
                    margin-right: 20px;

                    &:hover {
                        color: #ee0000;
                    }
                }
            }
        }

        .macbook__content-products {
            .products {
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                a {
                    position: relative;
                    color: black;
                    text-decoration: none;

                    &:hover .products-item {
                        background-color: white;

                        position: absolute;
                        z-index: 50;
                    }

                    .products-item {

                        padding: 10px;
                        position: relative;

                        &:hover {
                            border: 1px solid #e6e6e6;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
                        }

                        &:hover .products-item-button {
                            display: flex;
                        }

                        .products-item-img {
                            img {
                                width: 100%;
                            }
                        }

                        .products-item-text {
                            margin-bottom: 10px;

                            p {
                                margin-bottom: 0;
                                transition: all 0.3s;

                                &:hover {
                                    color: #ee0000;
                                }
                            }

                            span {
                                color: #006ab7;
                            }
                        }

                        .products-item-button {
                            display: none;
                            width: 100%;
                            gap: 7px;

                            .chiTiet {
                                text-align: center;
                                width: 50%;
                                padding: 3px;
                                border-radius: 4px;
                                border: none;
                                color: white;
                                background-color: #cb1c22;

                                &:hover {
                                    background-color: #ee0000;
                                }
                            }

                            .yeuThich {
                                padding: 3px;
                                width: 50%;
                                border-radius: 2px;
                                color: white;
                                border: none;
                                background-color: #a8a8a8;

                                &:hover {
                                    background-color: #838383;
                                }
                            }
                        }
                    }
                }


            }
        }
    }
}

.watch {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;

    .watch__content {
        width: 100%;
        background-color: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
        border-radius: 5px;

        .watch__content-tieuDe {

            div {
                border-bottom: 2px solid #ee0000;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .watch--tieuDe {
                    width: 60%;
                    height: 100%;
                    text-decoration: none;
                    font-size: 22px;

                    p {
                        position: relative;
                        text-align: center;
                        width: 31%;
                        background-color: #ee0000;
                        color: white;
                        font-weight: 500;
                        text-transform: uppercase;
                        z-index: 1;
                        margin-bottom: 0;

                        &::after {
                            z-index: -1;
                            position: absolute;
                            content: '';
                            top: 0;
                            bottom: 0;
                            left: 23px;
                            right: -23px;
                            background-color: inherit;
                            transform: skew(23deg);
                        }
                    }
                }

                .watch--navLink {
                    font-size: 16px;
                    color: black;
                    text-decoration: none;
                    transition: all 0.3s;

                    &:hover {
                        color: #ffab41;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }

                .active {
                    transition: all 0.3s;
                    color: #ffab41;
                    margin-right: 20px;

                    &:hover {
                        color: #ee0000;
                    }
                }
            }
        }

        .watch__content-products {
            .products {
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                a {
                    position: relative;
                    color: black;
                    text-decoration: none;

                    &:hover .products-item {
                        background-color: white;

                        position: absolute;
                        z-index: 50;
                    }

                    .products-item {

                        padding: 10px;
                        position: relative;

                        &:hover {
                            border: 1px solid #e6e6e6;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
                        }

                        &:hover .products-item-button {
                            display: flex;
                        }

                        .products-item-img {
                            img {
                                width: 100%;
                            }
                        }

                        .products-item-text {
                            margin-bottom: 10px;

                            p {
                                margin-bottom: 0;
                                transition: all 0.3s;

                                &:hover {
                                    color: #ee0000;
                                }
                            }

                            span {
                                color: #006ab7;
                            }
                        }

                        .products-item-button {
                            display: none;
                            width: 100%;
                            gap: 7px;

                            .chiTiet {
                                text-align: center;
                                width: 50%;
                                padding: 3px;
                                border-radius: 4px;
                                border: none;
                                color: white;
                                background-color: #cb1c22;

                                &:hover {
                                    background-color: #ee0000;
                                }
                            }

                            .yeuThich {
                                padding: 3px;
                                width: 50%;
                                border-radius: 2px;
                                color: white;
                                border: none;
                                background-color: #a8a8a8;

                                &:hover {
                                    background-color: #838383;
                                }
                            }
                        }
                    }
                }


            }
        }
    }
}