@media (min-width: 1200px) {
    .main-full {
        width: 100%;

        main {
            max-width: 1200px;
        }

        header {
            section {
                max-width: 1200px;
            }
        }

        .NavHeroBanner {
            max-width: 1200px;
        }

        footer {
            .footer__top {
                width: 1200px;
            }
        }
    }


}

@media (min-width: 992px) {
    main {
        max-width: 960px;
    }

    header {
        section {
            max-width: 960px;
        }
    }

    .NavHeroBanner {
        max-width: 960px;
    }

    // footer {
    //     width: 960px;
    // }
}