.mainDetail {
  width: 100%;
}

.mainDetail .Detail {
  width: 1200px;
  margin: 0 auto;
}

.mainDetail .Detail .Detail-index {
  margin: 20px 0;
}

.mainDetail .Detail .Detail-index p a {
  color: black;
}

.mainDetail .Detail .Detail-index p span {
  color: #ee0000;
}

.mainDetail .Detail .Detail-name {
  border-radius: 5px;
  padding: 10px 10px;
  background-color: white;
  margin-bottom: 10px;
}

.mainDetail .Detail .macbookBanner {
  padding: 0;
}

.mainDetail .Detail .Detail-product {
  width: 100%;
  margin-bottom: 20px;
}

.mainDetail .Detail .Detail-product .Detail__content {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a {
  position: relative;
  color: black;
  text-decoration: none;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a:hover .products-item {
  background-color: white;
  position: absolute;
  z-index: 50;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item {
  padding: 10px;
  position: relative;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item:hover {
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item:hover .products-item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-img {
  height: 200px;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-img img {
  width: 100%;
  height: 100%;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-text {
  margin-bottom: 10px;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-text p {
  margin-bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-text p:hover {
  color: #ee0000;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-text span {
  color: #006ab7;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-button {
  display: none;
  width: 100%;
  gap: 7px;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-button .chiTiet {
  text-align: center;
  width: 50%;
  padding: 3px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #cb1c22;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-button .chiTiet:hover {
  background-color: #ee0000;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-button .yeuThich {
  padding: 3px;
  width: 50%;
  border-radius: 2px;
  color: white;
  border: none;
  background-color: #a8a8a8;
}

.mainDetail .Detail .Detail-product .Detail__content .Detail__content-products .products a .products-item .products-item-button .yeuThich:hover {
  background-color: #838383;
}

.mainDetail .Detail .Detail-daXem {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.mainDetail .Detail .Detail-daXem .Detail-daXem-title p {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0;
  background-color: #d4d7d9;
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  text-transform: uppercase;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel {
  width: 100%;
  position: relative;
  height: 310px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.082);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.082);
  background-color: white;
  border-radius: 0 0 5px 5px;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .fa-chevron-left {
  cursor: pointer;
  padding: 20px 10px;
  display: block;
  font-size: 23px;
  position: absolute;
  color: #999898;
  top: 35%;
  left: 0;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0 80% 80% 0;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .fa-chevron-right {
  cursor: pointer;
  padding: 20px 10px;
  display: block;
  font-size: 23px;
  color: #999898;
  position: absolute;
  top: 35%;
  right: 0;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 80% 0 0 80%;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list {
  height: 100%;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track {
  height: 100%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a {
  position: relative;
  color: black;
  text-decoration: none;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item {
  z-index: 50;
  background-color: white;
  padding: 10px;
  position: relative;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item:hover {
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item:hover .products-item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-img {
  height: 200px;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-img img {
  width: 100%;
  height: 220px;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-text {
  margin-bottom: 10px;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-text p {
  margin-bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-text p:hover {
  color: #ee0000;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-text span {
  color: #006ab7;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-button {
  display: none;
  width: 100%;
  gap: 7px;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-button .chiTiet {
  text-align: center;
  width: 50%;
  padding: 3px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #cb1c22;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-button .chiTiet:hover {
  background-color: #ee0000;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-button .yeuThich {
  padding: 3px;
  width: 50%;
  border-radius: 2px;
  color: white;
  border: none;
  background-color: #a8a8a8;
}

.mainDetail .Detail .Detail-daXem .Detail__carousel .slick-slider .slick-list .slick-track .slick-slide div a .products-item .products-item-button .yeuThich:hover {
  background-color: #838383;
}
/*# sourceMappingURL=detail.style.css.map */