header {
  width: 100%;
  padding: 10px;
  background-color: white;
}

header section {
  width: 100%;
  margin: 0 auto;
}

header section .navBar i {
  font-size: 24px;
}

header section .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section .header .header__logo {
  width: 180px;
}

header section .header .header__input {
  position: relative;
}

header section .header .header__input input {
  width: 580px;
  height: 40px;
  color: #999999;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

header section .header .header__input input[type="text"] {
  padding: 6px 12px;
  font-size: 16px;
}

header section .header .header__input p {
  position: absolute;
  top: 16%;
  right: 3%;
}

header section .header .header__input p .fa-search {
  font-size: 28px;
  cursor: pointer;
}

header section .header .header__input p:hover {
  color: #d8351a;
}

header section .header .header__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section .header .header__footer .header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section .header .header__footer .header__phone .fa-phone-volume {
  font-size: 30px;
  padding-right: 5px;
}

header section .header .header__footer .header__phone p {
  margin-bottom: 0;
  color: black;
  font-size: 14px;
  display: inline-block;
  line-height: 1.3;
  text-align: left;
}

header section .header .header__footer .header__phone p span {
  color: #e00;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  line-height: 1.3;
  text-align: left;
}

header section .header .header__taiKhoan {
  margin-left: 15px;
}

header section .header .header__taiKhoan p {
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
}

header section .header .header__taiKhoan p i {
  padding-right: 5px;
  font-size: 24px;
}

header section .header .header__taiKhoan p:hover .taiKhoan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header section .header .header__taiKhoan p .taiKhoan {
  z-index: 10;
  top: 100%;
  width: 200px;
  left: -50%;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 7px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

header section .header .header__taiKhoan p .taiKhoan li {
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #ffa400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header section .header .header__taiKhoan p .taiKhoan li .dangNhap {
  color: white;
  text-decoration: none;
}

header section .header .header__taiKhoan p .taiKhoan li .dangKy {
  color: white;
  text-decoration: none;
}

header section .header .header__taiKhoan p .taiKhoan li:hover {
  background-color: #d8351a;
}

header section .header .header__gioHang {
  position: relative;
  padding: 10px 0;
  margin-left: 15px;
  cursor: pointer;
}

header section .header .header__gioHang p {
  margin-bottom: 0;
}

header section .header .header__gioHang p i {
  padding-right: 5px;
  font-size: 24px;
}

header section .header .header__gioHang div {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffa400;
  border-radius: 50%;
}

header section .header .header__gioHang div span {
  padding: 5px;
}

header .headerDisplay {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 99;
}

header .headerGioHang {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100vh;
  z-index: 100;
  background-color: white;
  padding: 15px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

header .headerGioHang .headerGioHang_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

header .headerGioHang .headerGioHang_head p {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 600;
}

header .headerGioHang .headerGioHang_head i {
  cursor: pointer;
}

header .headerGioHang .headerGioHang_footer .giaTien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .headerGioHang .headerGioHang_footer .thanhToan button {
  font-size: 18px;
  font-weight: 400;
  padding: 8px;
  color: white;
  text-align: center;
  background-color: #d8351a;
  border: none;
  border-radius: 5px;
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .headerGioHang .headerGioHang_footer .thanhToan button:hover {
  background-color: #aa2a15;
}

header .headerNavBar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  width: 35%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

header .headerNavBar .NavBar-Login {
  background-color: #d8351a;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerNavBar .NavBar-Login .iconUser {
  margin-bottom: 0;
  margin-right: 30px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

header .headerNavBar .NavBar-Login .iconUser i {
  font-size: 20px;
}

header .headerNavBar .NavBar-Login .iconText {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerNavBar .NavBar-Login .iconText p {
  text-align: center;
  width: 50%;
  margin: 0;
}

header .headerNavBar .NavBar-Login .login {
  color: white;
  text-decoration: none;
}

header .headerNavBar .NavBar-Menu {
  padding: 5px;
}

header .headerNavBar .NavBar-Menu ul {
  margin-bottom: 0px;
}

header .headerNavBar .NavBar-Menu ul hr {
  margin: 5px 0;
}

header .headerNavBar .NavBar-Menu ul .menu-content:hover {
  color: #d8351a;
}

header .headerNavBar .NavBar-Menu ul .menu-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

header .headerNavBar .NavBar-Menu ul .menu-content a p {
  line-height: 2.5;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0px;
}

header .headerNavBar .NavBar-Menu ul .menu-content .menu-con {
  margin-left: 10px;
  display: none;
}

header .headerNavBar .NavBar-Menu ul .menu-content .menu-con li {
  list-style: none;
}

header .headerNavBar .NavBar-Menu ul .menu-content .menu-con li a {
  text-decoration: none;
  color: black;
}

header .headerNavBar .NavBar-Menu ul .menu-content .menu-con li a:hover {
  color: #d8351a;
}

header .headerNavBar .NavBar-Menu ul .menu-content .menu-con li a p {
  line-height: 2.5;
  font-size: 15px;
  font-weight: 400;
}

header .headerNavBar .NavBar-Menu ul .menu-content .menu-con .menu-chau {
  display: none;
  margin-left: 10px;
}

header .headerNavBar .NavBar-Menu ul .menu-content .menu-con .menu-chau li a {
  line-height: 2;
}

header .headerNavBar::-webkit-scrollbar {
  overflow: hidden;
  width: 1px;
}
/*# sourceMappingURL=header.css.map */